@inject IJSRuntime JSRuntime

<div class="barcode-scanner">
    <div class="scanner-container">
        <video id="video" class="scanner-video"></video>
        <canvas id="canvas" class="scanner-canvas"></canvas>
    </div>
</div>

@code {
    [Parameter] public EventCallback<string> OnBarcodeScanned { get; set; }
    [Parameter] public bool Continuous { get; set; }

    private IJSObjectReference _module;

    protected override async Task OnInitializedAsync()
    {
        _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/dist/barcodeScanner.js");
        await StartScanning();
    }

    public async Task StartScanning()
    {
        await _module.InvokeVoidAsync("startScanning", DotNetObjectReference.Create(this), Continuous);
    }

    [JSInvokable]
    public async Task OnBarcode(string barcode)
    {
        await OnBarcodeScanned.InvokeAsync(barcode);
    }
}
