@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-bar">
            <div class="menu-button" @onclick="ToggleNavMenu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="app-title">
                <h1>PantryTracker</h1>
            </div>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}