<div class="nav-menu">
    <div class="nav-brand">
        <h1>PantryTracker</h1>
        <img src="images/logo.png" alt="PantryTracker Logo"/>
    </div>

    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i> Dashboard
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="fooditems">
                <i class="fas fa-box"></i> Inventory
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="products">
                <i class="fas fa-boxes"></i> Products
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="shopping-list">
                <i class="fas fa-shopping-cart"></i> Shopping List
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                <i class="fas fa-cog"></i> Settings
            </NavLink>
        </div>
    </nav>
</div>
